# Force Prisma to skip the postinstall step if it's not part of the build steps
# This ensures Vercel doesn't encounter issues with Prisma during caching
auto-install-peers=true
legacy-peer-deps=true
node-linker=hoisted 